<div class="section">  
  <div class="row">
    <form class="col s12 center">
      
      <div class="row">
        <div class="input-field col s6">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        
        <div class="input-field col s6">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s6">
          <i class="mdi-communication-email prefix"></i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        
        <div class="input-field col s6">
          <i class="mdi-communication-phone prefix"></i>
          <input id="tel" type="tel" class="validate">
          <label for="tel">Phone Number</label>
        </div>
      </div>
      
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-editor-mode-edit prefix"></i>
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Message</label>
            </div>
          </div>
        </form>
      </div>
      
    </form>
  </div>
</div>